@use '../mixins/media-queries.scss' as query;

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;

    @include query.media-breakpoint-up(md) {
        gap: 32px;
    }

    @include query.media-breakpoint-up(td) {
        gap: 48px;
    }

    &__columns-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    &__columns-3 {
        @include query.media-breakpoint-up(mlg) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include query.media-breakpoint-up(td) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__columns-4 {
        @include query.media-breakpoint-up(mlg) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include query.media-breakpoint-up(td) {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}